.home {
  margin: 2rem;
}
.plantCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  margin: 0;
  padding: 0%;
}
.home h1 {
  font-size: 2rem;
  font-weight: light;
  margin-bottom: 3rem;
  color: var(--paynesgray);
  text-align: center;
}

.plants h2 {
  font-weight: bolder;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--paynesgray);
  text-align: center;
}