.Info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

}
.loginBG {
  background-image: url('https://images.unsplash.com/photo-1463936575829-25148e1db1b8');
  background-size: cover;
  background-position: center;
}
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  padding: 20px;
}
.loginBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  height: 300px;
  background-color: var(--pistachio);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.loginBox h1 {
  text-align: center;
  color: var(--paynesgray);
  font-weight: 600;
}
.signupText {
  text-align: center;
  color: var(--paynesgray)
}
