.modalBG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContainer {
    width: 500px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modalTitle h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 !important;
    padding: 0;
}
.modalBody {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.plantForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modalFooter {
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.footerBtn {
    padding: 4px 10px;
    width: 8rem;
    border-radius: .3rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    background: var(--paynesgray);
    color: var(--white);
}
.footerBtn:hover {
    background: var(--cadetgray);
}
.closeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
}
.nameInput {
    width: 100%;
}
.imgInput {
    width: 100%;
}
.freqInput {
    width: 3rem;
}
.freqInput::-webkit-inner-spin-button,
.freqInput::-webkit-outer-spin-button {
  opacity: 1;
}
.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.inputContainer h2 {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}