.card {
  width: 20rem;
  height: 25rem;
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}

.cardCnter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cardBody {
  position: relative;
  height: 80%;
  overflow: hidden;
}

.plantImgSrc {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .5rem .5rem 0 0;
}

.wateringIcon {
  
}

.wateringIconBtn {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: none;
  background-image: url('/src/icons/watering-white.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.plantTextContainer {
  padding: 1rem;
}

.plantTextContainer h1 {
  margin: 1rem 0 !important;
}

.plantName h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--paynesgray)
}

.waterAfter {
  font-size: 1rem;
  color: var(--cadetgray);
}

.close {
  z-index: 10;
  height: 1.4rem;
  width: 1.4rem;
  position: absolute;
  background-image: url('/src/icons/close.png');
  background-size: 130%;
  background-position: center;
  border: none;
  right: 0.3rem;
  top: 0.3rem;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
}
.close:hover {
  cursor: pointer;
}
