@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --paynesgray: #545F66;
  --cadetgray: #829399;
  --mintgreen: #D0F4EA;
  --teagreen: #E8FCC2;
  --pistachio: #b1cc74;
  --blue: #4dabf7;
  --white: #fff;
}

html, body, #root {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Helvetica, sans-serif;
  background-color: var(--white);
  height: 100%;
}